	<h1>Fill out this form</h1>

	<form  action = "/hello/" method = "POST">  
		<!-- action is where the form is delivered to which is the post '/hello/' handler. Method tells the browser to use this mechanism. -->
		<div >
		A Greeting: <input type = "text" name = "greeting">
		</div>
		<div>
		Your Name: <input type = "text" name = "name">
		</div>
		<div>
		Attach File: <input type="file" name="file" id="file" accept="image/*" multiple>
		</div>
		<div>
		<input type="submit" value="submit button">
		</div>
	</form>
