<head>
	<link rel="stylesheet" href="/style.css" /> <!-- url helper in sinatra - looks for the stylesheet in root of the app, wherever it is. -->
	
</head>
	<p>I just wanted to say <%= greeting %>, <%= name %>.
	</p>
