<!-- The layout template: takes the common HTML at the top and bottom
# of each template and puts it into one file. The code 'yield' that says to stop there, run the other view & come back. We're telling sinatra to wrap all of our templates with this HTML. -->

<!DOCTYPE html>
<html>
<head>
	<title>Gothons of Planet</title>
</head>
<body>

	<%= yield %>

</body>
</html>